QmRibbon {
    background: black;
}

QmRibbonTitleBar {
    background-color: #eeeff1;

    font-family: "Source Han Sans CN";
    font-weight: 500;
    font-size: 20px;
    color: #333333;

    min-height: 40px;
    max-height: 40px;
}

QmRibbonTitleBar QToolButton[Style="WindowButton"] {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "uifont";
    border: none;
    color: black;
    font-size: 13pt;
    background: transparent;
}

QmRibbonTitleBar QToolButton[Style="RibbonApplicationLogo"] {
    border: none;
    background: transparent;
}

QmRibbonTitleBar #btn_win_minimized {
    qproperty-text: "\2100";
}

QmRibbonTitleBar #btn_win_close {
    qproperty-text: "\2103";
}

QmRibbonTitleBar #btn_win_close:hover {
    background-color: rgba(212, 64, 39, 255);
    color: #d9d6d6;
}

QmRibbonTitleBar #btn_win_minimized:hover,
QmRibbonTitleBar #btn_win_maximized:hover {
    background-color: lightgray;
}

QmRibbonTabBar {
    background: #efefef;
    border: none;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    min-height: 40px;
    max-height: 40px;
}

QmRibbonTabBar QToolButton {
    min-width: 64px;
    height: 14px;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    font-size: 16px;
    color: #333333;

    border: none;
    padding: 3px;
    margin: 2px;
    margin-bottom: 5px;
}

QmRibbonTabBar QToolButton[Style="RibbonTabButton"]:checked {
    padding-bottom: 0px;
    border-bottom: 3px solid #017AC8;
}

QmRibbonTabBar QToolButton[Style="RibbonTabButton"]:hover {
    padding-bottom: 0px;
    border-bottom: 3px solid rgb(180, 180, 180);
}

QmRibbonTabBar QToolButton[Style="RibbonTabButton"]:hover:checked {
    padding-bottom: 0px;
    border-bottom: 3px solid #005186;
}

QmRibbonTabBar QToolButton[Style="RibbonApplicationButton"]:hover {
    background: lightblue;
}

QmRibbonTabBar QToolButton[Style="RibbonApplicationButton"]:pressed {
    padding-top: 6px;
    padding-left: 6px;
}

QmRibbonPageContainer {
    background-color: #f7f7f7;
}

QmRibbonPage QFrame[Style="RibbonSectionSeparator"] {
    color: #3A97D3;
    margin-top: 5px;
    margin-bottom: 5px;
}

QmRibbonSection QToolButton[Style="RibbonSectionExpandButton"] {
    background: transparent;
    qproperty-icon: url(:/qmribbon/icons/expand);
}