QmRibbon,
QmRibbonTitleBar,
QmRibbonTabBar,
QmRibbonPageContainer {
    background-color: #f3f3f3;
    color: #202020;
    border-bottom: 1px solid lightgray;
}

QmRibbonPageContainer QmImageShadowWidget {
    qproperty-shadowPixmap: url(:/qmribbon/images/shadow_light);
}

QmRibbonTitleBar QToolButton[Style="WindowButton"],
QmRibbonTabBar QToolButton {
    color: #202020;
}

QmRibbonTitleBar #btn_win_minimized:hover,
QmRibbonTitleBar #btn_win_maximized:hover,
QmRibbonTabBar QToolButton[Style="RibbonApplicationButton"]:hover {
    background-color: #e5e5e5;
}

QmRibbonTabBar {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

QmRibbonTabBar QToolButton[Style="RibbonTabButton"]:checked,
QmRibbonTabBar QToolButton[Style="RibbonTabButton"]:hover:checked {
    border-bottom: 3px solid #0067c0;
}

QmRibbonTabBar QToolButton[Style="RibbonTabButton"]:hover {
    background-color: #e5e5e5;
    border-bottom: 3px solid #a8a8a8;
}

QmRibbonPage QFrame[Style="RibbonSectionSeparator"] {
    color: #0067c0;
}
